window {
    margin: 10px;
    border-radius: 0px;
    padding: 4px 8px; 
    background-color: #d8d8d8;
    border: 1px solid #000000;
}

button {
    margin: 10px;
    border-radius: 0px;
    padding: 4px 8px; 
    background-image: none;
    background-color: #a8a7a7;
    border: 1px solid #000000;
    color: #000000;
}

button:hover {
    opacity: 0.8;
}
