/* Fonte global */
* {
    font-size: 12px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-height: 0;
}

/* Janela principal da Waybar */
window#waybar {
    margin: 0px;
    border-radius: 5px;
    padding: 4px 8px; 

    background: linear-gradient(to bottom, rgba(56, 56, 56, 0.397), rgba(114, 114, 114, 0.418));

    border:1px solid #131313
} 

/* Workspaces */
#workspaces,

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
}

#workspaces .active {
    margin: 10px;
    background: linear-gradient(to right, rgba(5, 113, 156, 0.397), rgba(4, 131, 182, 0.418));
    border-radius: 10px;
    border:1px solid #131313
}

#divisao,

#disk,

#battery,
#battery.critical:not(.charging),

#network.disconnected {
    color: #ff0000
}

#clock, #pulseaudio, #backlight, #cpu, #memory, #temperature, #network, #tray {
    margin: 4px;
    padding: 4px 8px;

    background: linear-gradient(to bottom, rgba(56, 56, 56, 0.397), rgba(114, 114, 114, 0.418));

    border-radius: 5px;
    border:1px solid #131313
}

#custom-thhub {
    margin: 4px;
    padding: 4px 8px;

    background: linear-gradient(to bottom, rgba(5, 113, 156, 0.397), rgba(4, 131, 182, 0.418));

    border-radius: 5px;
    border:1px solid #131313
}
