window {
    margin: 10px;
    border-radius: 0px;
    padding: 4px 8px; 
    background-color: #FFF1D6;
    border: 2px solid #00606F;
}

button {
    margin: 10px;
    border-radius: 0px;
    padding: 4px 8px; 
    background-image: none;
    background-color: #C0CDBD;
    border: 2px solid #00606F;
    color: #00606F;
}

button:hover {
    opacity: 0.8;
}
