window {
    margin: 10px;
    border-radius: 0px;
    padding: 4px 8px; 
    background-color: #FFF1D6;
    border: 2px solid #780000;
}

button {
    margin: 10px;
    border-radius: 0px;
    padding: 4px 8px; 
    background-image: none;
    background-color: #DEB5A1;
    border: 2px solid #780000;
    color: #780000;
}

button:hover {
    opacity: 0.8;
}
